# .NET
bin/
obj/
artifacts/
*.user

# Native build output
out/
native/**/bazel-*

# Native binaries are fetched/built into src/*/runtimes in CI.
src/**/runtimes/**

# Profiling output
default.profraw
